<div class="container-fluid">
	<div class="row">
		<button *ngIf="(user$ | async)" routerLink="/login" type="button" class="btn btn-danger mb-2">Sign out</button>
		<button *ngIf="!(user$ | async)" routerLink="/login" type="button" class="btn btn-info mb-2">Sign in</button>
		<button class="btn btn-primary" [routerLink]="'/user/edit/0'">Create</button>
		<button routerLink="/admin" type="button" class="btn btn-dark">Go to Video Page</button>
		<div class="col-md-12">
			<h1>User page of the RandomRobi</h1>

			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="input-group mb-3">
						<select [(ngModel)]="filterKey" id="tableSearch" class="form-select col-md-3">
							<option value="">Search in every column</option>
							<option *ngFor="let key of columns" [value]="key.key">
								{{ key.title }}
							</option>
						</select>
						<input [(ngModel)]="phrase" type="text" class="form-control col-md-9" placeholder="Search in the data...">
					</div>
				</div>
			</div>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>ID
							<mat-icon (click)="onColumnSelect('id')">arrow_upward</mat-icon>
							<mat-icon (click)="onColumnSelect('id')">arrow_downward</mat-icon>
						</th>
						<th>Username
							<mat-icon (click)="onColumnSelect('username')">arrow_upward</mat-icon>
							<mat-icon (click)="onColumnSelect('username')">arrow_downward</mat-icon>
						</th>
						<th>Email
							<mat-icon (click)="onColumnSelect('email')">arrow_upward</mat-icon>
							<mat-icon (click)="onColumnSelect('email')">arrow_downward</mat-icon>
						</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody *ngIf="users$ | async as users">
					<tr
						*ngFor="let user of users | slice: startSlice:endSlice | filter:phrase:filterKey | sorter:columnKey:sortDir">
						<td>{{ user.id }}</td>
						<td>{{ user.username }}</td>
						<td>{{ user.email }}</td>
						<td><button class="btn btn-primary" (click)="editUser(user)">Edit</button></td>
						<td><button class="btn btn-danger" (click)="deleteUser(user)">Delete</button></td>
					</tr>
				</tbody>
			</table>

			<div class="pt-2 row">
				<nav aria-label="paginator">
					<ul class="pagination pagination-lg mt-12 justify-content-center">
						<li [ngClass]="{ 'page-item disabled': page === 1 }">
							<button class="page-link" (click)="jumptoPage(page - 1)" [disabled]="page === 1">Previous</button>
						</li>
						<li *ngFor="let pageNum of pageList" class="page-item">
							<button [ngClass]="{ 'page-link': true, 'active': page === pageNum }" (click)="jumptoPage(pageNum)">
								{{ pageNum }}
							</button>
						</li>
						<li [ngClass]="{ 'page-item disabled': page === pageList.length }">
							<button class="page-link" (click)="jumptoPage(page + 1)"
								[disabled]="page === pageList.length">Next</button>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>