$primary-color: #F8C300;
$footer-height: 80px;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  color: #FFF;
  background: radial-gradient(circle, #2c3e50, #000000),
    url("../../../assets/img/background.png") no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #FF00FF;
  text-shadow: 4px 4px #00FFFF, -2px -2px #FF00FF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  border: 5px solid #FF00FF;
  box-shadow: 0px 0px 20px 10px #00FFFF;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - #{$footer-height});
  z-index: 2;
}

.main {
  flex: 1;
  position: relative;
  z-index: 1;
  padding-bottom: 7%;
}

footer {
  text-align: center;
  width: 100%;
  height: #{$footer-height};
  position: relative;
  margin-top: -#{$footer-height};
  padding-bottom: 2rem;
  /* Hozzáadott padding az extra hely érdekében */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  /* Extra margin az alsó távolság növelésére */
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/background.png");
  background-repeat: repeat;
  background-size: cover;
  overflow-y: hidden;
  padding-bottom: calc($footer-height + 4rem);
}

#authorName {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.logo-container img,
.rrlogo-container img {
  max-width: 15rem;
  height: auto;
  border: 8px solid #FF00FF;
  box-shadow: 0px 0px 30px 15px #00FFFF;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  from {
    box-shadow: 0 0 20px #FF00FF, 0 0 30px #FF00FF, 0 0 40px #FF00FF, 0 0 50px #00FFFF, 0 0 60px #00FFFF, 0 0 70px #00FFFF;
  }

  to {
    box-shadow: 0 0 30px #FF00FF, 0 0 40px #FF00FF, 0 0 50px #FF00FF, 0 0 60px #00FFFF, 0 0 70px #00FFFF, 0 0 80px #00FFFF;
  }
}

.neon-text {
  color: #FF00FF;
  text-shadow: 0 0 10px #FF00FF, 0 0 20px #FF00FF, 0 0 30px #FF00FF;
}

.neon-border {
  border: 3px solid #FF00FF;
  box-shadow: 0px 0px 20px 10px #00FFFF;
}

.funky-font {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.2rem;
}

button.btn-crazy {
  background: linear-gradient(45deg, #FF00FF, #00FFFF);
  color: #FFF;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px #FF00FF, 0px 0px 10px #00FFFF;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

button.btn-crazy:hover {
  background: linear-gradient(45deg, #00FFFF, #FF00FF);
}

button.glitch {
  animation: glitch 1s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, -2px);
  }

  60% {
    transform: translate(-2px, -2px);
  }

  80% {
    transform: translate(2px, 2px);
  }

  100% {
    transform: translate(0);
  }
}

.alert-warning {
  background-color: rgba(255, 0, 255, 0.2);
  border: 1px solid #FF00FF;
  color: #FFF;
  box-shadow: 0px 0px 10px #FF00FF, 0px 0px 10px #00FFFF;
  font-family: 'Orbitron', sans-serif;
  animation: neon-glow 1.5s ease-in-out infinite alternate;
}

button.btn-admin {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #333;
  border-color: #333;
  opacity: 0.05;
  border-radius: 0;
  padding: 0.5rem 1rem;
}

button.btn-admin:hover {
  background-color: #555;
  border-color: #555;
  opacity: 0.5;
}
