<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Random YouTube Video</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="text-center">
	<div class="container">
		<h1 class="mt-5">Random YouTube Video</h1>
		<div class="embed-responsive embed-responsive-16by9 mt-5">
			<iframe class="embed-responsive-item" allowfullscreen></iframe>
			video$
		</div>
		<footer class="mt-5 mb-3 text-muted">© 2023 Your Name</footer>
	</div>
</body>

</html>